In [1]:
print("Hello World")

Hello World

In [3]:
# variables
num1 = 10
num2 = 20.89
name = "Mind Sprint"

print("Number: ",num1)
print(f"Number2: {num2}")
print("Name: ",name)

Number:  10
Number2: 20.89
Name:  Mind Sprint

In [14]:
# Assign values
x,y,z = "Orange", "Banana", "Cherry"
a=b=c = "Happy Birthday"

print("x:",x)
print("y:",y)
print("z:",z)
print("\n")
print("a:",a)
print("b:",b)
print("c:",c)

x: Orange
y: Banana
z: Cherry


a: Happy Birthday
b: Happy Birthday
c: Happy Birthday

In [20]:
# Taking input from user
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

print("Addition: ", (num1+num2))

print("Substraction: ", num1-num2)

print("Multiplication: ", num1*num2)

print("Division: ", num1/num2)

print("Modulus: ", num1%num2)

print("Exponential: ", num1**num2)

print("Floor division: ", num1//num2)

Enter first number 4
Enter second number 2

Addition:  6
Substraction:  2
Multiplication:  8
Division:  2.0
Modulus:  0
Exponential:  16
Floor division:  2

In [21]:
# Equal to
num1 = 5
num2 = 6

print("Is the num1 equals to num2?", num1 == num2)

print("Is num1 not equals to num2?", num1 != num2)

print("Is num1 greater than num2?", num1 > num2)

print("Is num1 less than num2?", num1 < num2)

print("Is num1 greater than or equal to  num2?", num1 >= num2)

print("Is num1 less than or equal to num2?", num1 <= num2)

Is the num1 equals to num2? False
Is num1 not equals to num2? True
Is num1 greater than num2? False
Is num1 less than num2? True
Is num1 greater than or equal to  num2? False
Is num1 less than or equal to num2? True

In [22]:
# declare a variable
num = 10

print("initial value: ", num)

num += 5
print("After increment: ", num)

num -= 3
print("After decrement: ", num)

num*=2
print("after multiplication: ", num)

initial value:  10
After increment:  15
After decrement:  12
after multiplication:  24

In [24]:
email = input('enter your email')
password = input('enter your password')

print(email =='admin@123.com' and password == 'admin@123')

enter your email admin@123.com
enter your password admin@1234

False

In [32]:
num = 10

if num>0:
    print('positive number')

num2 = -5
if num2 > 0:
    print("Positive")
else:
    print("negative")

positive number
negative

In [33]:
# Nested if

num = 15

if num > 0:
    if num % 2 == 0:
        print("positive and even number")
    else:
        print("Positive and odd number")
else:
    print("Non positive number")

Positive and odd number

In [35]:
# Pass statement

num = -5

if num > 0:
    pass
else:
    print("This won't execute")

This won't execute

In [43]:
# Grade assignment
marks = int(input("Enter marks: "))

if marks >= 90 and marks <= 100:
    print("Grade A")
elif marks >= 70 and marks < 90:
    print("Grade B")
elif marks >= 50 and marks < 70:
    print("Grade C")
else:
    print("Sorry you are failed")

Enter marks:  70

Grade B

In [49]:
# Positive and negative number
num = int(input("Enter the number"))
if num > 0:
    if num % 2 == 0:
        print("It is even number")
    else:
        print("It is odd number")
elif num == 0:
    print("Its ZERO!!")
elif num < 0:
    if num < -10:
        print("The number is less than -10")
    else:
        print("The number is greater than -10 and less than 0")

Enter the number 8

It is even number

In [53]:
# Discount calculation
amt = int(input("Enter the purchase amount"))
if amt > 500:
          print("Im giving the 20 % discount")
          discounted_price = ((20 * amt) / 100 )
          final_price = amt - discounted_price
          print("The final price is: ", final_price)
elif amt >= 200 and amt <= 500:
          discounted_price1 = ((10 * amt) / 100)
          final_price = amt - discounted_price1
          print("The final price is: ", final_price)
elif amt < 200:
          print("There is no discount")
          print("The final price is: ", amt)

Enter the purchase amount 8

There is no discount
The final price is:  8

In [56]:
# while loop
count = 1
while count <= 5:
    print("Count: ", count)
    count += 1

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5

In [57]:
# for loop
for num in range(1, 6):
    print("Number: ", num)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [58]:
# for with break
# loop through numbers from 1 to 10
for num in range(1, 11):
    if num == 5:
        print("Breaking at number: ", num)
        break
    print("Number: ", num)

Number:  1
Number:  2
Number:  3
Number:  4
Breaking at number:  5

In [60]:
# while with break
count = 0
while count < 5:
    if count == 3:
        print("Breaking at count=", count)
        break
    print("Count is: ", count)
    count += 1

Count is:  0
Count is:  1
Count is:  2
Breaking at count= 3

In [65]:
# Sum of all even numbers
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the sec number"))
sum1 = 0
for num in range(num1, num2 + 1):
    if num % 2 == 0:
        sum1 += num
 
print(sum1)

Enter the first number 1
Enter the sec number 5

6

#

In [69]:
# number pattern
num = int(input("Enter the num:"))
for i in range(1, num):
    for j in range(1, i):
        print(j, end=" ")
    print()

Enter the num: 7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Functions

In [70]:
def hello():
    print('Hello World')
hello()

Hello World

In [73]:
def greet(name):
    print ('Happy Birthday', name)
greet('Shasi')

Happy Birthday Shasi

In [76]:
# Default parameter
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

In [77]:
# passing argument using keywords
def desc_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")

desc_person(age=24, city="AndhraPradesh", name="Shasi")

Shasi is 24 years old and lives in AndhraPradesh.

In [85]:
#Recursion
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n - 1)
n = 5;
result = fact(n)
print(f"The factorial of {n} is: {result}")

The factorial of 5 is: 120

In [84]:
def validate(username, password):
    if(username == "admin@123.com" and password == "admin@123"):
        print("Login Successfull")
    else:
        print("Failed login, check credentials")

username = input("Enter username")
password = input("Enter password")
validate(username, password)

Enter username ghj
Enter password gh

Failed login, check credentials

# List

In [94]:
# List

mylist = [10,20,30,40,50,1]
print(mylist)

# access based on index
print(mylist[3])

# append element
mylist.append(60)
print(mylist)

# insert element at some index
mylist.insert(2,25)
print(mylist)

# Data removal
data = mylist.pop()  ##it will removing the last element
print(data, "removed")

print(len(mylist))   ##checking the length

print('Minimum Value', min(mylist))
print('Maximum Value', max(mylist))
print('Sum Value', sum(mylist))
print(mylist.remove(1))

print(mylist)

#adding element at last
mylist.extend([7,18])
print(mylist)

[10, 20, 30, 40, 50, 1]
40
[10, 20, 30, 40, 50, 1, 60]
[10, 20, 25, 30, 40, 50, 1, 60]
60 removed
7
Minimum Value 1
Maximum Value 50
Sum Value 176
None
[10, 20, 25, 30, 40, 50]
[10, 20, 25, 30, 40, 50, 7, 18]

In [96]:
# Delete using index number
del mylist[1]
print(mylist)

[10, 30, 40, 50, 7, 18]

In [97]:
# print the list elements
mydata = [1,2,3,48,4,9]

for num in mydata:
    print(num)

1
2
3
48
4
9

In [103]:
# Sorthing

# Ascending order
mydata.sort()
print(mydata)

#Descending order
mydata.sort(reverse = True)
print(mydata)

#reverse the previous list
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 9, 48]
[48, 9, 4, 3, 2, 1]
[1, 2, 3, 4, 9, 48]

In [104]:
# Copying the list elements
copy_numbers = mydata.copy()
print(copy_numbers)

[1, 2, 3, 4, 9, 48]

# ToDo

In [105]:
todo_list = []
def add_todo():
    todo = input("Enter the todo you want: ")
    todo_list.append(todo)
    print(todo_list)
def remove_todo():
    num = int(input("give the index of todo: "))
    if num < (len(todo_list)):
        todo_list.pop(num)
    else:
        print("\nOut of range")
    
    print(todo_list)
def get_all_todos():
    print("\n",todo_list)
 
while True:
    option = int(input("\nEnter 1 to add todos:  \nEnter 2 to remove todos:  \nEnter 3 to display all todos:  \nEnter 4 to exit: "))
   
    if option == 1:
        add_todo()
    elif option == 2:
        remove_todo()
    elif option == 3:
        get_all_todos()
    elif option == 4:
        break
    else:
        print("Please enter the proper number or option: ")

Enter 1 to add todos:
Enter 2 to remove todos:
Enter 3 to display all todos:
Enter 4 to exit:  1
Enter the todo you want:  Java

['Java']

Enter 1 to add todos:
Enter 2 to remove todos:
Enter 3 to display all todos:
Enter 4 to exit:  4

# Tuple

In [106]:
names = ("Shasi", "Nissarga","Manusree","Lokesh")
print(names)

('Shasi', 'Nissarga', 'Manusree', 'Lokesh')

In [109]:
number_tuple = (13, 26, 31, 18)
num_list = list(number_tuple)

print(num_list)

num_list.append(17)

print(num_list)

[13, 26, 31, 18]
[13, 26, 31, 18, 17]

In [110]:
new_tuple = ("Dhoni",)*4
print(new_tuple)

('Dhoni', 'Dhoni', 'Dhoni', 'Dhoni')

# Dictionary

In [115]:
## Employee dictionary

employee ={
    "eid":17,
    "name":"Dhoni",
    "dep":"IT",
    "salary":87654
}

print(employee)
print("Employee id:", employee["eid"])
print("Employee name:", employee["name"])

{'eid': 17, 'name': 'Dhoni', 'dep': 'IT', 'salary': 87654}
Employee id: 17
Employee name: Dhoni

In [119]:
# print("Manager:" , employee('manager'))  ##if the key not found it will throws error
print("Manager:" , employee.get('manager')) ## if the key not found it will gives the none instead of error
print("Manager:" , employee.get('manager', "Nisarga and Manushree"))

Manager: None
Manager: Nisarga and Manushree

In [124]:
 Student = {
     "id":1,
     "name":"Dhoni",
     "email":"dhoni@gmail.com",
     "address":"AP"
 }

for key in Student:
    print(key, ": ",student[key])

id :  1
name :  Dhoni
email :  dhoni@gmail.com
address :  AP

# Set

In [130]:
# Creating a set

names = {"Shasi","Nisarga","Manusree","Dhoni",5}
print(names)

{'Nisarga', 5, 'Dhoni', 'Manusree', 'Shasi'}

In [133]:
myset = {404,200,500,403}
print(myset)

{200, 403, 404, 500}

In [134]:
myset.discard(303) #if not found then no error
print(myset)
myset.pop()
print(myset)

{200, 403, 404, 500}
{403, 404, 500}

In [135]:
#Adding an element
myset.add(501)
print(myset)
myset.update([303,402]) #pass list to add multiple elements
print(myset)
 
#Removal
myset.remove(303)
print(myset)

{403, 404, 501, 500}
{303, 402, 403, 404, 501, 500}
{402, 403, 404, 501, 500}

In [136]:
#Adding an element
myset.add(501)
print(myset)
myset.update([303,402]) #pass list to add multiple elements
print(myset)
 
#Removal
myset.remove(303)
print(myset)

{402, 403, 404, 501, 500}
{303, 402, 403, 404, 501, 500}
{402, 403, 404, 501, 500}

In [137]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
 
#Union - combines elements from both sets
print(A | B)
print(A.union(B))
 
#Intersection - common elements
print(A & B)
print(A.intersection(B))
 
#Difference - elements in A but not in B
print(A - B)
print(A.difference(B))
 
#Symmmetric Difference
#Elements in either set but not in both
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

# Employee salary tracker

In [149]:
employees = {
    "employee1":{"eid":17,"name":"Shasi","dep":"IT","salary":1000000},
    "employee2":{"eid":26,"name":"Nisarga","dep":"IT","salary":70000000},
    "employee3":{"eid":31,"name":"Manusree","dep":"IT","salary":1500000}
}

print(employees)

# add an employee
employees["employee4"] = {"name": "Rahul", "salary": 1200000}
print(employees)

# update an employee
employees["employee3"].update({"salary":12345})
print(employees)

{'employee1': {'eid': 17, 'name': 'Shasi', 'dep': 'IT', 'salary': 1000000}, 'employee2': {'eid': 26, 'name': 'Nisarga', 'dep': 'IT', 'salary': 70000000}, 'employee3': {'eid': 31, 'name': 'Manusree', 'dep': 'IT', 'salary': 1500000}}
{'employee1': {'eid': 17, 'name': 'Shasi', 'dep': 'IT', 'salary': 1000000}, 'employee2': {'eid': 26, 'name': 'Nisarga', 'dep': 'IT', 'salary': 70000000}, 'employee3': {'eid': 31, 'name': 'Manusree', 'dep': 'IT', 'salary': 1500000}, 'employee4': {'name': 'Rahul', 'salary': 1200000}}
{'employee1': {'eid': 17, 'name': 'Shasi', 'dep': 'IT', 'salary': 1000000}, 'employee2': {'eid': 26, 'name': 'Nisarga', 'dep': 'IT', 'salary': 70000000}, 'employee3': {'eid': 31, 'name': 'Manusree', 'dep': 'IT', 'salary': 12345}, 'employee4': {'name': 'Rahul', 'salary': 1200000}}

In [151]:
# employees = { 
#     "employee1" : { "eid" : 1001, "name" : "Nisarga", "dept" : "IT","salary" : 100000067 },
#     "employee2" : { "eid" : 1002, "name" : "shasidhar", "dept" : "IT", "salary" : 100000067 }, 
#     "employee3" : { "eid" : 1003, "name" : "manushree", "dept" : "IT", "salary" : 100000067 }
# }
 
# def add_employee(eid, name, department, salary):
#     n = len(employees)
#     employees[f'employee[{n + 1} '] = { "eid" : id, "name" : name, "department" : department, "salary" : salary}
 
 
# def update_salary(eid, name, department, salary):
#     pass
 
# def remove_employee(eid, name, department, salary):
#     pass
# def print_employee(employees):
#     for emp in employees:
#         print("---------------------------------------------")
#         for key in employees[employee]:
#             print(key, " ", employees[employee][key])
# print_employee(employees)
 
 
employees = { 
    "employee1" : { "eid" : 1001, "name" : "Nisarga", "dept" : "IT", "salary" : 100000067 },
    "employee2" : { "eid" : 1002, "name" : "Shasidhar", "dept" : "IT", "salary" : 100000067 }, 
    "employee3" : { "eid" : 1003, "name" : "Manushree", "dept" : "IT", "salary" : 100000067 }
}
 
def add_employee(eid, name, department, salary):
    n = len(employees)
    employees[f'employee{n + 1}'] = { "eid" : eid, "name" : name, "dept" : department, "salary" : salary }
 
def update_salary(eid, new_salary):
    for emp in employees.values():
        if emp['eid'] == eid:
            emp['salary'] = new_salary
            return f"Salary updated for employee ID {eid}"
    return f"Employee with ID {eid} not found"
 
def remove_employee(eid):
    for key, emp in list(employees.items()):
        if emp['eid'] == eid:
            del employees[key]
            return f"Employee with ID {eid} removed";
    return f"Employee with ID {eid} not found"
 
def print_employee(employees):
    for emp in employees:
        print("---------------------------------------------")
        for key in employees[emp]:
            print(f"{key}: {employees[emp][key]}")
 
# Testing the functions
print_employee(employees)
print("\nAdding a new employee:")
add_employee(1004, "Ravi", "HR", 90000000)
print_employee(employees)
print("\nUpdating salary:")
print(update_salary(1002, 120000000))
print_employee(employees)
print("\nRemoving an employee:")
print(remove_employee(1003))
print_employee(employees)

---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 100000067
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067

Adding a new employee:
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 100000067
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000

Updating salary:
Salary updated for employee ID 1002
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 120000000
---------------------------------------------
eid: 1003
name: Manushree
dept: IT
salary: 100000067
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000

Removing an employee:
Employee with ID 1003 removed
---------------------------------------------
eid: 1001
name: Nisarga
dept: IT
salary: 100000067
---------------------------------------------
eid: 1002
name: Shasidhar
dept: IT
salary: 120000000
---------------------------------------------
eid: 1004
name: Ravi
dept: HR
salary: 90000000